
/*MODO OSCURO*/
#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    font-size: 2em;
    color: rgb(255, 223, 100);
    cursor: pointer;
}

.dark{
    background-color: #082a44;
    color: rgb(8, 7, 7);
    transition: all 1.5s ease;
}
/*TITULO */
.titulo{
    color: rgb(162, 162, 230);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: color 0.3 ease-in-out;
    cursor: pointer;
    
}


.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

/*CONTENEDOR*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(162, 162, 230);
    
}

.col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    width: 22em;
    height: 10em;
    margin: 20px;
    padding: 20px 24px;
    box-shadow: 2px;
    gap: 12px;
}

.col-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    width: 22em;
    height: 10em;
    margin: 20px;
    padding: 20px 24px;
    box-shadow: 2px;
    gap: 12px;
}

.col-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    width: 22em;
    height: 8em;
    margin: 20px;
    padding: 20px 24px;
    box-shadow: 2px;
    gap: 15px;
}

/* Inputs y select */
.col-1 input,
.col-2 select,
.col-3 input {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #b9b9e3;
    border-radius: 12px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
    align-items: center;
}

.col-1 input:focus,
.col-2 select:focus,
.col-3 input:focus {
    border-color: #8b89f0;
}

/*DINERO DISPONIBLE USUARIO*/
.label-dinero-disponible{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.dinerodisponible{
    color: rgb(7, 5, 5);
    border-radius: 0.25em;
    width: fit-content;
    height:fit-content;
    border-color:darkblue;
    align-items: center;
}
.botondinero{
    color: white;
    background-color: rgb(162, 162, 230);
    width: 60px;
    height: 50px;
    border-radius: 1em;
    border-color: #b9b9e3;
    cursor: pointer;
    transition: color ease-in-out;
}
.botondinero:hover{
    background-color: #b9b9e3;
    
}

.textinput{
    color: rgb(15, 10, 10);
    border-radius: 2px;
    border-color: plum;

}


/*TABLA GASTOS*/
.container-gastos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.table{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    
}

.label-categoria{
    text-align: center;
    margin: 10px;
    gap: 10px;

    
}
.categoria{
    border-radius: 1em;
    align-items: center;
    margin: 10px;
    
}
.categoria:hover{
    background-color: rgb(162, 162, 230);
    transition: 0.4s;
    margin: 10px;
    align-items: center;
}

/*MONTO GASTOS USUARIO*/
.label-monto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    gap: 10px;
    margin: 10px;
}
.monto{
    color: rgb(12, 7, 7);
    align-items: center;
    border-radius: 0.25em;
    border-color: darkblue;
    gap: 15px;
    margin: 10px;

}

.botonmonto{
    color: white;
    background-color: rgb(162, 162, 230);
    width: 60px;
    height: 50px;
    border-radius: 1em;
    border-color: #b9b9e3;
    cursor: pointer;
    transition: color ease-in-out;
}

.botonmonto:hover{
    background-color: #b9b9e3;
}

/*EGRESOS*/
.label-egresos{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/*COLUMNA EGRESOS*/
.col-egresos{
    display: flex;
    background-color: rgb(162, 190, 230);
    border-radius: 2em;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

.salida-egresos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

